{% extends 'network/layout.html' %}

{% load static %}

{% block body%}
    <div id="container" class="container">
        <div class="following-title">
            <h2>Following</h2>
        </div>

        <form id="csrf-form" style="display:none;">
            {% csrf_token %}
        </form>
        <!-- Posts will be dynamically loaded here -->
        <div id="posts-container">
        </div>
        
        <!-- Pagination controls -->
        <div id="pagination-controls" class="mt-3 text-center"></div>
    </div>

{% endblock%}

{% block script %}
   <script type="module">
        import { FollowingApp } from "{% static 'network/following/followingApp.js' %}";
        const username = "{{ user.username }}";
        new FollowingApp(username);
    </script>
{% endblock %}